[Unit]
Description=IRL4YOU BOX Sendekette (srtla_send und belacoder)
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /opt/pipbox/pipbox_send.py
SuccessExitStatus=1
Restart=no
TimeoutStopSec=20
RuntimeDirectory=pipbox-send
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=yes
